absl-py==0.15.0
addict==2.4.0
ansi2html==1.8.0
asttokens==2.4.0
astunparse==1.6.3
attrs==23.1.0
backcall==0.2.0
cachetools==5.3.1
ccimport==0.4.2
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.7
comm==0.1.4
ConfigArgParse==1.7
contourpy==1.1.0
cumm-cu114==0.4.10
cycler==0.11.0
dash==2.13.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
easydict==1.10
exceptiongroup==1.1.3
executing==2.0.0
fastjsonschema==2.18.1
fire==0.5.0
Flask==2.2.5
flatbuffers==1.12
fonttools==4.42.1
gast==0.5.4
google-auth==2.22.0
google-auth-oauthlib==0.4.6
grpcio==1.34.1
h5py==3.1.0
idna==3.4
imageio==2.31.1
importlib-metadata==6.8.0
importlib-resources==6.0.1
ipython==8.16.1
ipywidgets==8.1.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter_core==5.4.0
jupyterlab-widgets==3.0.9
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
kornia==0.6.12
lark==1.1.7
lazy_loader==0.3
llvmlite==0.39.1
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mmcv==2.0.1
mmengine==0.8.4
nbformat==5.7.0
nest-asyncio==1.5.8
networkx==3.1
ninja==1.11.1
numba==0.56.4
numpy==1.23.0
oauthlib==3.2.2
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
open3d==0.17.0
opencv-python==4.8.0.76
opt-einsum==3.3.0
ordered-set==4.1.0
packaging==23.1
pandas==2.1.1
parso==0.8.3
pccm==0.4.8
-e git+https://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@github.com/DNTR-ICCV2023/CMKD@a208f6bd7e44ed18b1eab2dfc083b75c76880810#egg=pcdet
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
plotly==5.17.0
portalocker==2.7.0
prompt-toolkit==3.0.39
protobuf==3.20.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.11.1
Pygments==2.16.1
pyparsing==3.0.9
pyquaternion==0.9.9
python-dateutil==2.8.2
python-gflags==3.1.2
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
requests-oauthlib==1.3.1
retrying==1.3.4
rich==13.5.2
rpds-py==0.10.4
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.3.1
scipy==1.10.1
SharedArray==3.2.2
six==1.15.0
spconv-cu114==2.3.6
stack-data==0.6.3
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.1
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
threadpoolctl==3.2.0
tifffile==2023.7.18
tomli==2.0.1
torch==1.10.0
torchaudio==0.10.0
torchvision==0.11.0
tqdm==4.65.0
traitlets==5.11.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata==2023.3
urllib3==1.26.16
waymo-open-dataset-tf-2-5-0==1.4.1
wcwidth==0.2.8
Werkzeug==2.2.3
widgetsnbextension==4.0.9
wrapt==1.12.1
yapf==0.40.1
zipp==3.16.2
